<!DOCTYPE hibernate-configuration [
        <!ELEMENT hibernate-configuration (session-factory)*>
        <!ELEMENT session-factory (property|mapping)*>
        <!ELEMENT property (#PCDATA)>
        <!ATTLIST property
                name CDATA #REQUIRED>
        <!ELEMENT mapping (#PCDATA)>
        <!ATTLIST mapping
                class CDATA #REQUIRED>
        ]>
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к MySQL -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/airport_db?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">12345678</property>
        <property name="hibernate.hbm2ddl.auto">update</property>


        <!-- Пул соединений -->
        <property name="connection.pool_size">10</property>

        <!-- SQL диалект -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Настройки отладки -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">false</property>

        <!-- Связь с классами-сущностями -->
        <mapping class="com.common.entity.City"/>
        <mapping class="com.common.entity.Role"/>
        <mapping class="com.common.entity.User"/>
        <mapping class="com.common.entity.Airplane"/>
        <mapping class="com.common.entity.Flight"/>
        <mapping class="com.common.entity.Passenger"/>
        <mapping class="com.common.entity.Ticket"/>
    </session-factory>
</hibernate-configuration>
